python-telegram-bot
VaderSentiment
openai
regex
python-dotenv
telebot
APScheduler
backports.zoneinfo
cachetools
certifi
charset-normalizer
et-xmlfile
idn
numpy
openpyxl
pandas
pandas-stubs
python-dateutil
python-telegram-bot
pyttsx3
pytz
pytz-deprecation-shim
regex
requests
six
SpeechRecognition
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
