python-telegram-bot
VaderSentiment
openai
regex
python-dotenv
telebot
APScheduler
cachetools
idn
numpy
openpyxl
pandas
pandas-stubs
python-dateutil
pyttsx3
pytz
pytz-deprecation-shim
requests
six
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
